<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de clientes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'clientes/style.css' %}">
</head>
<body>
    
    <div class="container">
        <h1>Eliminar clientes</h1>
        <h2>¿estas seguro de eliminar el cliente? {{cliente.nombre}}</h2>
        <form method="post">
            {% csrf_token %}
            <button  type="submit">confirmar</button>
        </form>
        <a class="btn" href="{% url 'clientes_list' %}">cancelar</a>
    </div>
</body>
</html>